:root {
    --p-white: #ffffff;
    --p-white-soft: #f8f8f8;
    --p-white-mute: #e6e6e6;

    --p-black: #181818;
    --p-black-soft: #222222;
    --p-black-mute: #2e2e2e;

    --p-yellow: #FEC260;

    --p-pink: #A12568;

    --p-secondary-purple: #3B185F;

    --p-primary-purple: #2A0944;
}

/* semantic color variables for this project */
:root {
    --clr-background: var(--p-black);
    --clr-background-soft: var(--p-black-soft);
    --clr-background-mute: var(--p-black-mute);

    --clr-heading: var(--p-white);
    --clr-text-1: var(--p-white-soft);
    --clr-text-2: var(--p-white-mute);

    --clr-accent-primary: var(--p-yellow);
    --clr-accent-secondary: var(--p-pink)
}

@media (prefers-color-scheme: light) {
    :root {
        --clr-background: var(--p-white);
        --clr-background-soft: var(--p-white-soft);
        --clr-background-mute: var(--p-white-mute);
    
        --clr-heading: var(--p-black);
        --clr-text-1: var(--p-black-soft);
        --clr-text-2: var(--p-black-mute);

        --clr-accent-primary: var(--p-primary-purple);
        --clr-accent-secondary: var(--p-secondary-purple);
    }
}

/* spacing variables */
:root {
    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-xxl: 4rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
